*{
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:root{
    font-size: 18px;
    font-family: sans-serif;
    --var-h1-color: #3d56f0;
    --var-bg-color: #ed5ab0;
    --var-a-hover-color: #ed5ab0;
    --var-bg-hover-color: #3d56f0;
    --var-white-color: white;
    --var-red-color: red;
    --var-blue-color: blue;
    --var-edu-color: #fff000;
    --var-black-color: #000;
    --var-footer-bg-color: #c4eafb;
    --var-support-color: #A3D179;
}
body{
    margin: 0px;
    padding: 0px;
    position: relative;
}
/*.............................Go Top Button............................*/
.go_top{
    width: 40px;
    height: 40px;
    background: var(--var-white-color);
    opacity: .5;
    position: fixed;
    top: 90%;
    right: 5%;
    z-index: 3333333333;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 3px black;
            box-shadow: 0px 0px 3px black;
}
.go_top::after{
    content: "";
    position: absolute;
    border: 10px solid black;
    border-color: transparent transparent var(--var-h1-color) transparent;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    pointer-events: none;
    -webkit-animation: 5s ease-out infinite go_top;
            animation: 5s ease-out infinite go_top;
}
@-webkit-keyframes go_top{
    0%{
        -webkit-transform: translate(-50%, -45%);
                transform: translate(-50%, -45%);
        opacity: .5;
    }
    100%{
        -webkit-transform: translate(-50%, -70%);
                transform: translate(-50%, -70%);
        opacity: 1;
    }
}
@keyframes go_top{
    0%{
        -webkit-transform: translate(-50%, -45%);
                transform: translate(-50%, -45%);
        opacity: .5;
    }
    100%{
        -webkit-transform: translate(-50%, -70%);
                transform: translate(-50%, -70%);
        opacity: 1;
    }
}
.go_top>a{
    position: absolute;
    width: 100%;
    height: 100%;
}
header{
    margin: 0px;
    position: relative;
}
/*....................................Nav 1 Style...............................*/
header.first_header_menu>.nav_1>.ul_menu{
    list-style: none;
    margin: 0px;
    padding: 0px 30px;
    background: #ed5ab0;        /*Primary Color*/
}
header.first_header_menu>.nav_1>.ul_menu>.list_item{
    padding: 16px 10px;
    display: inline-block;
    color: white;
    font-weight: 900;
    font-family: 'Lora', serif;
}
header.first_header_menu>.nav_1>.ul_menu>.list_item:last-child{
    float: right;
}
.ul_menu>[class*="font_icon"]::before{
    margin-right: 5px;
}
header.first_header_menu>.nav_1>.ul_menu>.font_icon1::before{
    content: "\f095";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
}
header.first_header_menu>.nav_1>.ul_menu>.font_icon2::before{
    content: "\f041";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
}
header.first_header_menu>.nav_1>.ul_menu>.font_icon3::before{
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
}
/*...................................Nav 2 Style..................................*/
.second_header_menu{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 111111;
}
header.second_header_menu>.nav_2{
    background: #f1f1f1;
    position: relative;
}
header.second_header_menu>.nav_2>.check_bar{
    display: none;
}
header.second_header_menu>.nav_2>.check_stike{
    display: none;
}
header.second_header_menu>.nav_2>.ul_menu2{
    list-style: none;
    padding: 0px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header.second_header_menu>.nav_2>.ul_menu2>.site_logo{
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.site_logo>img{
    width: 100%;
}
.second_header_menu>.nav_2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header.second_header_menu>.nav_2>.ul_menu2>.list_item2{
    position: relative;
}
header.second_header_menu>.nav_2>.ul_menu2>.list_item2>.list_link2{
    text-decoration: none;
    color: initial;
    padding: 12px 8px;
    display: inline-block;
    -webkit-transition: .3s color;
    -o-transition: .3s color;
    transition: .3s color;
    text-transform: uppercase;
    font-size: 15px;
}
header.second_header_menu>.nav_2>.ul_menu2>.list_item2>.list_link2:hover{
    color: #ed5ab0;
}
header.second_header_menu>.nav_2>.ul_menu2>.list_item2>.list_link2>span::after{
    content:"\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    font-size: 10px;
    margin-left: 5px;
}
.ul_menu2>.list_item2>.nav_dropdown_menu{
    position: absolute;
    min-width: 250px;
    border: 4px solid blue;
    visibility: hidden;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transition: .5s ease all;
    -o-transition: .5s ease all;
    transition: .5s ease all;
    background: #fff;
    border-radius: 0px 20px 20px 20px;
    list-style: none;
    margin: 0px;
    padding: 10px 0px;
    z-index: 20000;
}
.ul_menu2>.list_item2:hover>.nav_dropdown_menu{
    visibility: visible;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
}
.ul_menu2 .nav_dropdown_link{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color: initial;
    -webkit-transition: .3s ease color;
    -o-transition: .3s ease color;
    transition: .3s ease color;
}
.ul_menu2 .nav_dropdown_link:hover{
    color: #ed5ab0;
}
/*..............................Sec Carousel Section.............................*/

.sec_caro_item_wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
}
.sec_caro_item_wrapper>.sec_carousel_item{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.sec_caro_item_wrapper>.sec_carousel_item>img{
    width: 100%;
    height: 100%;
}
.sec_carousel_item .caro_txt{
    position: absolute;
    top: 35%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1000;
}
.sec_carousel{
    height: 400px;
    overflow: hidden;
    position: relative;
}
.control_carousel{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.control_carousel>
.carousel_link_wrapper{
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -2.5%);
        -ms-transform: translate(-50%, -2.5%);
            transform: translate(-50%, -2.5%);
}
.carousel_link_wrapper>a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: -webkit-radial-gradient( circle, red 12%, white 30%);
    background: -o-radial-gradient( circle, red 12%, white 30%);
    background: radial-gradient( circle, red 12%, white 30%);
    border-radius: 50%;
    margin: 0px 20px;
    padding: 0px;
    -webkit-animation: caro_a infinite 5s ease-out;
            animation: caro_a infinite 5s ease-out;
}
@-webkit-keyframes caro_a{
    0%, 20%{
        -webkit-box-shadow: 0px 0px 4px 5px white;
                box-shadow: 0px 0px 4px 5px white
                   
    }
    50%, 15%{
        -webkit-box-shadow: 0px 0px 4px 10px deeppink;
                box-shadow: 0px 0px 4px 10px deeppink;
    }
    100%, 70%{
        -webkit-box-shadow: 0px 0px 4px 8px yellow;
                box-shadow: 0px 0px 4px 8px yellow;
    }
}
@keyframes caro_a{
    0%, 20%{
        -webkit-box-shadow: 0px 0px 4px 5px white;
                box-shadow: 0px 0px 4px 5px white
                   
    }
    50%, 15%{
        -webkit-box-shadow: 0px 0px 4px 10px deeppink;
                box-shadow: 0px 0px 4px 10px deeppink;
    }
    100%, 70%{
        -webkit-box-shadow: 0px 0px 4px 8px yellow;
                box-shadow: 0px 0px 4px 8px yellow;
    }
}
.caro_txt>h1{
    color: var(--var-h1-color);
}
.caro_txt>h4{
    font-weight: 200;
    letter-spacing: 1.6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caro_txt>a{
    display: inline-block;
    padding: 15px 40px;
    background: var(--var-bg-color);
    text-decoration: none;
    color: white;
    border-radius: 40px;
    -webkit-transition: .3s linear background-color;
    -o-transition: .3s linear background-color;
    transition: .3s linear background-color;
}
.caro_txt>a:hover{
    background: var(--var-bg-hover-color);
}
/*..........................................Sec Welcome Section......................*/
.sec_welcome{
    min-height: 200px;
}
.sec_welcome>h1,
.sec_welcome>h4{
    text-align: center;
    font-weight: 300;
}
.sec_welcome>h1{
    color: var(--var-h1-color);
}
.sec_welcome_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.sec_welcome_menu >
.sec_welcome_item{
    width: 200px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-family: cursive;
    font-weight: 100;
    margin: 5px;
}
.sec_welcome_menu>
.sec_welcome_item>img{
    width: 100%;
}
/*.....................................Sec Dream Section........................*/
.sec_dream{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 600px;
    /* border: 2px solid red; */
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.sec_dream_item{
    min-height: 600px;
    /* border: 2px solid blue; */
    padding: 20px;
}
.sec_dream_item:nth-of-type(1){
    width: 60%;
}
.sec_dream_item:nth-of-type(2){
    width: 30%;
    padding-left: 60px;
}
.sec_dream_item>.dream_title{
    color: var(--var-h1-color);
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec_dream_item>article{
    font-weight: 300;
    font-size: 22px;
    font-style: normal;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec_dream_item>a{
    margin: 10px;
    display: inline-block;
    padding: 18px 35px;
    background: var(--var-bg-color);
    border-radius: 30px;
    text-decoration: none;
    color: var(--var-white-color);
    letter-spacing: calc(1.5px + .5px);
    -webkit-transition: .3s ease-out background-color;
    -o-transition: .3s ease-out background-color;
    transition: .3s ease-out background-color;
    margin-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec_dream_item>a:hover{
    background-color: var(--var-bg-hover-color);
}
.sec_dream_right>.sec_dream_item_child>.child_title{
    color: var(--var-bg-color);
}
.sec_dream_right>.sec_dream_item_child>
article{
    font-weight: 300;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec_dream_item_child{
    position: relative;
}
.sec_dream_item_child::before{
    content: "";
    position: absolute;
    top: 15px;
    left: -55px;
    font-size: 50px;
    font-weight: 800;
    font-family: "Font Awesome 5 Free";

}
.sec_dream_item_child:nth-of-type(1)::before{
    content: "\f0eb";
    color: var(--var-blue-color);
}
.sec_dream_item_child:nth-of-type(2)::before{
    content: "\f7a6";
    color: var(--var-red-color);
}
.sec_dream_item_child:nth-of-type(3)::before{
    content: "\f51c";
    color: var(--var-bg-hover-color);
    font-size: 40px;
}
/*........................Sec Kids Edu Section.................................*/
.sec_kids_edu{
    min-height: 600px;
    position: relative;
}
.sec_kids_edu>img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(40%);
            filter: brightness(40%);
}
.sec_kids_edu>
.kids_edu_txt{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 30%;
    z-index: 3333;
    text-align: center;
}
.sec_kids_edu>
.kids_edu_txt>article{
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: var(--var-white-color);
}
.sec_kids_edu>
.kids_edu_txt>.edu_title{
    color: var(--var-edu-color);
}
.sec_kids_edu::before,
.sec_kids_edu::after{
    content: "";
    background: url("../image/line-bg2.png");
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 10000;
}
.sec_kids_edu::before{
    top: -29px;
    left: 0px;
}
.sec_kids_edu::after{
    bottom: -17px;
    left: 0px;
}
/*....................................Sec Class Section Gallery.....................*/
.sec_class_gallery{
    min-height: 400px;
}
.sec_class_gallery>h1,
.sec_class_gallery>p{
    text-align: center;
}
.sec_class_gallery>h1{
    font-size: 45px;
    color: var(--var-h1-color);
}
.sec_class_gallery>p{
    width: 70%;
    margin: 20px auto;
}
.sec_class_gallery_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.sec_class_gallery_wrapper>
.sec_class_gallery_item{
    min-height: 200px;
    width: 200px;
    position: relative;
}
.sec_class_gallery_item::after{
    content: "";;
    position: absolute;
    background: url("../image/image-frame.png") center/100% 100%;
    width: 100%;
    height: 100%;
}
.sec_class_gallery_item>img{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s filter;
    -o-transition: .5s filter;
    transition: .5s filter;
}
.sec_class_gallery_item:hover>img{
    -webkit-filter: brightness(.4);
            filter: brightness(.4);
}
.sec_class_gallery_item>.search_link{
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
    color: var(--var-white-color);
    text-decoration: none;
}
/*.........................Sec Teacher About Section............................*/
.sec_teacher_about{
    min-height: 250px;
}
.sec_teacher_about_wrapper{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

.sec_teacher_about>h1,
.sec_teacher_about>p{
    text-align: center;
}
.sec_teacher_about>h1{
    font-size: 45px;
    color: var(--var-h1-color);
}
.sec_teacher_about>p{
    width: 70%;
    margin: 20px auto;
}
.sec_teacher_about_item{
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    -webkit-clip-path: polygon(15% 0, 70% 0%, 100% 8%, 100% 70%, 88% 100%, 30% 100%, 0 94%, 0 35%);
            clip-path: polygon(15% 0, 70% 0%, 100% 8%, 100% 70%, 88% 100%, 30% 100%, 0 94%, 0 35%);
    border-radius: 50%;
}
.sec_teacher_about_item:hover>img{
    opacity: .3;
}
.sec_teacher_about_item>img{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s linear opacity;
    -o-transition: .5s linear opacity;
    transition: .5s linear opacity;
}
.teacher_about_child{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.teacher_about_child>a{
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    padding: 10px;
    color: var(--var-black-color);
    font-weight: bolder;
}
.teacher_about_child a:hover{
    color: var(--var-bg-color);
}
.teacher_about_child>small{
    font-weight: lighter;
}
.teacher_about_child>.tt_social{
    padding: 10px 0px;
    opacity: 0;
    -webkit-transition: .3s linear opacity;
    -o-transition: .3s linear opacity;
    transition: .3s linear opacity;
}
.teacher_about_child a,
.teacher_about_child small,
.teacher_about_child .tt_social{
    opacity: 0;
}
.teacher_about_child:hover a,
.teacher_about_child:hover .tt_social,
.teacher_about_child:hover small{
    opacity: 1;
}
.teacher_about_child>.tt_social>a{
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    padding: 5px;
    background: var(--var-bg-color);
    border-radius: 50%;
   
}
.teacher_about_child>.tt_social>a:hover{
    background: var(--var-bg-hover-color);
}
.teacher_about_child>.tt_social>a>i{
    font-size: 15px;

}
/*............................Section Testimonial.................................*/
.sec_testimonial{
    min-height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.sec_testimonial>h1{
    font-size: 40px;
    text-align: center;
    color: var(--var-h1-color);
    
}
.sec_testimonial>h3{
    width: 70%;
    text-align: center;
    margin: auto;
    font-weight: 300;   
}
.sec_testimonial_say{
    min-height: 300px;
    max-width: 700px;
    margin: 15px auto;
    background: rgba(12, 137, 240,.1);
    border-radius: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sec_testimonial_say::before{
    content:"";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px dashed black;
    border-radius: 30px;
   
}
.sec_testimonial_say>
.sec_testimonial_say_item:nth-of-type(1){
    width: 45%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    position: relative;
}
.sec_testimonial_say>
.sec_testimonial_say_item:nth-of-type(2){
    width: 55%;
    height: 100%;
}
.sec_testimonial_say>
.sec_testimonial_say_item:nth-of-type(1)>
.testi_pic{
    width: 120px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}
.sec_testimonial_say>
.sec_testimonial_say_item:nth-of-type(1)>
.testi_pic>img{
    width: 100%;
    height: 100%;
}
.sec_testimonial_say>
.sec_testimonial_say_item:nth-of-type(1)>h3,
.sec_testimonial_say>
.sec_testimonial_say_item:nth-of-type(1)>p
{
    margin: 0px;
    padding: 0px;
}
.sec_testimonial_say>
.sec_testimonial_say_item:nth-of-type(1)::after{
    content: "\f10d";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 50px;
    top: 40px;
    right: -14px;
    color: rgb(204, 182, 182);
}
.sec_testimonial_say>
.sec_testimonial_say_item:nth-of-type(2)>p{
    padding: 20px 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-style: italic;
}
/*...............................Sec From blog Section...........................*/
.sec_from_blog{
    min-height: 600px;
   
}
.sec_from_blog>h1{
    text-align: center;
    font-weight: 300;
    color: var(--var-h1-color);
    font-size: 40px;
}
.sec_from_blog>h4{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    font-weight: 300;
}
.blog_post_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.blog_post_menu>
.sec_from_blog_post{
    width: 300px;
    height: auto;
    margin: 10px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec_blog_post_thum{
    width: 100%;
    height: 200px;
    position: relative;
}
.sec_blog_post_thum::after{
    content: "";
    background: url("../image/image-frame.png") center/ 100% 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}
.sec_blog_post_thum>img{
    width: 100%;
    height: 100%;
}
.sec_from_blog_post .post_title{
    color: var(--var-black-color);
    display: inline-block;
    padding: 8px 12px 0px 5px;
    font-family: cursive;
}
.sec_from_blog_post .post_title:hover{
    color: var(--var-a-hover-color);
}
.sec_from_blog_post .post_des>p{
    padding-left: 8px;
}
.sec_from_blog_post .post_des>a{
    padding: 12px 8px;
    display: inline-block;
    text-decoration: none;
    color: var(--var-black-color);
    font-style: oblique;
    font-weight: bolder;
    font-family: cursive;
}
.sec_from_blog_post .post_des>a:hover{
    color: var(--var-a-hover-color);
    text-decoration: underline;

}
/*...................................Footer section................................*/
.first_footer_menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    min-height: 400px;
    /* border: 2px solid red; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--var-footer-bg-color);
    padding: 12px 8px;
}
.first_footer_menu>.footer_item{
    width: 440px;
    min-height: 400px;
    /* border: 2px solid blue; */
}
.left_footer_item p{
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left_footer_item
.left_footer_recent_post{
    margin-top: 150px;
}
.left_footer_recent_post>
.recent_post_title{
    color: var(--var-h1-color);
    text-transform: uppercase;
}
.left_footer_recent_post
.recent_post_item{
    padding-left: 115px;
    margin-bottom: 50px;
    position: relative;
}
.recent_post_item>a{
    margin: 10px 0px;
    display: inline-block;
    text-decoration: none;
    color: var(--var-black-color);
}
.recent_post_item>.author_rate{
    color: var(--var-h1-color);
    text-transform: uppercase;
    font-size: 15px;
}
.recent_post_item>.author_rate>span{
    display: inline-block;
    padding-right: 15px;
    font-weight: bolder;
}
.recent_post_item>.author_rate>span:last-of-type::before{
    content:"\f086";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    padding-right: 10px;
}
.recent_post_item::before{
    content: "";
    width: 92px;
    height: 90px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* border: 2px solid red; */
    border-radius: 8px;
}
.recent_post_item:first-of-type::before{
    background: url("../image/footerimg1.jpg") top left/ 100% 100%;
}
.recent_post_item:last-of-type::before{
    background: url("../image/footerimg2.jpg") top left/ 100% 100%;
}
.right_footer_item>
.footer_list{
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 180px;
    /* border: 2px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.right_footer_item>
.footer_list>.footer_list_item{
    padding: 0px 20px;
    position: relative;
}
.right_footer_item>
.footer_list>.footer_list_item::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--var-h1-color);
    border-radius: 100%;
    top: 13px;
    left: 0px;
}
.right_footer_item>
.footer_list>.footer_list_item>.link{
    text-decoration: none;
    color: var(--var-black-color);
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 0px;
}
.right_footer_item>
.footer_list>.footer_list_item>.link{
    text-transform: underline;
}
.right_footer_item>h3{
    text-transform: uppercase;
    color: var(--var-h1-color);
}
.right_footer_item>form>input[type="email"]{
    width: 100%;
    padding: 15px;
    margin: 0px;
    display: block;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 30px;
}
.right_footer_item>form>input[type="submit"]{
    display: inline-block;
    padding: 15px 50px;
    background: var(--var-bg-color);
    font-size: 20px;
    color: var(--var-white-color);
    border-radius: 30px;
    outline: none;
    border: none;
    margin: 15px 0px;
    text-transform: uppercase;
    -webkit-transition: .3s ease background-color;
    -o-transition: .3s ease background-color;
    transition: .3s ease background-color;
}
.right_footer_item>form>input[type="submit"]:hover{
    background: var(--var-bg-hover-color);
    cursor: pointer;
}
.last_footer_menu{
    padding: 40px 20px;
    background: var(--var-footer-bg-color);
    border-top: 1px solid hsl(0, 0%, 0%,.15);
}
.last_footer_menu>.footer_menu_item>article{
    font-weight: 300;
    font-family: verdana;
}
.last_footer_menu>.footer_menu_item:last-of-type{
    float: right;
    margin-top: -40px;
}
.footer_menu_item>.footer_social_icon{
    width: 200px;
    padding: 20px;
    /* border: 2px solid red; */
}
.footer_menu_item>.footer_social_icon>a{
    color: initial;
    padding: 0px 5px;
}